@import '../../layout/variables.scss';

.instructions {
  padding: 60px 20px;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: left;

  .question {
    font-weight: 400;
    font-size: 24px;
    margin: 30px 0 10px;
    color: rgba(0, 0, 0, 0.9);
  }

  h2 {
    color: rgba(0, 0, 0, 0.87);
  }

  .separator {
    margin: 5px 0 20px 0;
    width: 60%;
    height: 2px;
    background: #d8d8d8;
  }

  .step {
    width: 100%;
    margin: 10px 0;

    .instruction {
      width: 100%;
      font-size: 1em;
      opacity: 0.8;
    }

    span.inline {
      color: $pink;
      background: #efefef;
      padding: 2px;
      display: inline-block;
    }

    .code {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: 10px 0;

      code {
        background: rgba(231, 231, 238, 0.5);
        border-radius: 30px;
      }
    }
    button {
      margin: 5px 0;
    }
  }
}
