@import '../../layout/variables.scss';

.instructions {
  padding: 40px 20px;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: left;

  .step {
    width: 100%;
    margin: 10px 0;
    .instruction {
      width: 100%;

    }
    .code {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: 10px 0;
    }
    button {
      margin: 5px 0;
    }
  }
}
