@import '../../layout/variables.scss';

.Hero {
  padding: 60px 40px;
  width: 100%;
  color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
  background: linear-gradient(to bottom, #0a2a5a , #3d9af1);

  .left, .right {
    display: flex;
    flex-flow: column nowrap;
    width: calc(50% - 80px);
    min-width: 380px;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 40px;

    h1 {
      font-size: 34px;
      line-height: 50px;
      margin-top: 0px;
    }

    h2 {
      font-size: 24px;
      line-height: 38px;
      font-weight: 400;
      max-width: 500px;
    }
  }

  .sellingpoints {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-flow: column nowrap;

    .feature {
      font-size: 18px;
      margin: 8px 0;

      a {
        color: $white;
        font-weight: bold;
      }
    }
  }

  .ctas {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0;
    justify-content: flex-start;

    .mainLink {
      text-decoration: none;
    }
  }

  .logos {
    display: flex;
    flex-flow: row wrap;
    margin: 5px 0 5px;

    .logo {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      margin-right: 20px;
      background: white;
      display: flex;
      overflow: hidden;

      &.infura {
        background: #ff6a00;
      }

      &.react {
        background: black;
      }

      .logo-img {
        width: 60px;
        height: auto;
      }
    }
  }
}
